<header>
  <% include ./partials/nav %>
  <div class="container header-content">
    <div class="row header-content-inner">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="headline">OWN A BOAT (FOR A DAY)</h1>
        <!-- <p class="sub-headline">text</p> -->
        <a href="/boats" class="btn btn-primary btn-lg">GO</a>
      </div>
    </div>
  </div>
</header>
