<header>
  <% include ./partials/nav %>
</header>

<div class="container">
  <div class="row col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h2>Sign Up</h2>

    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form method="POST" action="/signup">
      <% include ./partials/form-contents %>
    </form>
  </div>
</div>