/*General*/
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: 'Museo Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
}

h3,
h4 {
  font-family: Avenir, 'Avenir Next', Helvetica, Arial, sans-serif;
}

h5 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p {
  font-size: 100%;
  line-height: 1.5;
}

@media only screen and (max-width: 400px) {
  body {font-size: 90%;}
}

@media only screen and (min-width: 400px) {
  body {font-size: 100%;}
}

@media only screen and (min-width: 800px) {
  body {font-size: 120%;}
}

a {
  color: #0099ff;
}

a:hover,
a:focus {
  color: #0000ff;
}

/*Navbar*/
div.container-fluid.bg {
  background-color: #5bc0de;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

/*Landing Page*/
body#homepage {
  position: relative;
  width: 100%;
  min-height: 800px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url('/img/azimut2.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body#homepage .header-content {
  position: relative;
  width: 100%;
  padding: 30px 15px 50px;
  text-align: center;
}

body#homepage .header-content .header-content-inner {
  background-color: rgb(150, 150, 150); /*Fallback*/
  background-color: rgba(150, 150, 150, 0.35);
  padding: 20px 0 20px;
}

body#homepage .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}

body#homepage .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  color: rgba(255,255,255,0.7);
}

/*body#homepage .header-content-btn {
  margin: 350px 0 20px;
}
*/
body#homepage a.btn-heading {
  width: 200px;
}