<% include ../partials/nav %>
<div class="container">
  <div class="row">
    <h1>Add a Boat</h1>
    <form method="post" action="/boats">
      <div class="form-group">
        <input name="boat[name]" type="text" placeholder="Listing Name. Be Descriptive" maxlength="35" class="form-control">
      </div>
      <div class="form-group">
        <select name="boat[type]" class="form-control">
          <option value="Motor Yacht">Motor Yacht</option>
          <option value="Sailboat">Sailboat</option>
        </select>
      </div>
      <div class="form-group">
        <input name="boat[make]" type="text" placeholder="Make" class="form-control">
      </div>
      <div class="form-group">
        <input name="boat[length]" type="text" placeholder="Length (feet)" class="form-control">
      </div>
      <div class="form-group">
        <input name="boat[capacity]" type="text" placeholder="Capacity (number of people)" class="form-control">
      </div>
      <div class="form-group">
        <input name="boat[year]" type="text" placeholder="Year Built" class="form-control">
      </div>
      <div class="form-group">
        <input name="boat[photoUrl]" type="text" placeholder="Photo URL" class="form-control">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
